<h1>旅アプリ</h1>

<table>
  <tr>
    <th>Continent</th>
    <th>Country</th>
    <th>City</th>
    <th>Thoughts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.continent %></td>
    <td><%= record.country %></td>
    <td><%= record.city %></td>
    <td><%= record.thoughts %></td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record', new_record_path %>
